.circle {

    width: 325px;
    height: 325px;
    margin: 20px;
    shape-outside: circle();
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background-color: #1565C0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;


}

.back{
    background-image: url('../../assets/1.png');
    background-position: bottom;
    background-size: cover;
}


