@tailwind components;
@layer components {
  .bg-image {
    @apply 
    bg-[url('../../assets/4k/waves.jpg')]
    bg-cover
    bg-bottom
    /* bg-fixe */
  }
}

.bg-waves{
  @apply
  bg-[url('../../assets/4k/flow.jpg')]
  bg-cover
  bg-bottom
  /* bg-fixed */
}


.bg-banner {
  @apply 
  bg-[url('../../assets/4k/terr.jpg')]

  bg-cover
  bg-center
  /* bg-fixed */
}

.title{
  font-family: 'Afacad', sans-serif;
}


.grupo1{
  @apply
  col-span-1  

  flex 
  gap-12 
  rounded-full 
  h-32 w-32 
  place-items-center 
  md:h-48
  md:w-48 
  object-contain 
  md:hover:w-4/12
  transition-all 
  delay-75 ease-in 
  duration-200
}

.grupo2{
  @apply
  col-span-2  
 
  flex 
  gap-12 
  rounded-full 
  h-32 w-32 
  place-items-center 
  md:h-48
  md:w-48 
  object-contain 
  md:hover:w-4/12 
  transition-all 
  delay-75 ease-in 
  duration-200
}